body{ 
        background-image: url(../imagen/lorin.jpg)
         background-repeat: no repeat;
         font-size: larger;
         color: white
    }
    h1{ 
        color: charteuse;
        font-family: arial;
    }
    table{ 
        border: 2;
        column-rule-color: blue;
        border-right: yellow;
        color: blueviolet;
        background-color: cyan;
    }
    